# 4.7. Deriving New Variable

## This script contain following points:

### 1. Import the ords_prods_merge dataframe from the pickle file

### 2. Complete the instructions in the Exercise for creating the “price_label” and “busiest_day” columns

### 3. Create a new column for two busiest days and two slowest days.

### 4. Create a new column containing periods of time labeled “Most orders,” “Average orders,” and “Fewest orders” called “busiest_period_of_day".

### 5. Export your dataframe as a pickle file

## 01. Import libraries

In [44]:
# Import libraries
import pandas as pd
import numpy as np
import os

## 02. Import data set

In [45]:
# Create path
path = r'C:\Users\Quinn\OneDrive\Documents\CF - Data Analyst\Data Immersion\Instacart Basket Analysis'

In [46]:
# Import orders_products_merged dataset
df_ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

## 03. Complete the instructions in the Exercise

In [47]:
# Create this subset
df = df_ords_prods_merged[:1000000]

In [48]:
# Define price_label function
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [49]:
# Aplly price_label on df
df['price_range'] = df.apply(price_label, axis=1)

C:\Users\Quinn\AppData\Local\Temp\ipykernel_14244\2388620833.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [50]:
df['price_range'].value_counts(dropna = False)

price_range
Mid-range product    756450
Low-range product    243550
Name: count, dtype: int64

In [51]:
df['prices'].max()

14.8

#### If-Statements with the loc() Function

In [52]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

C:\Users\Quinn\AppData\Local\Temp\ipykernel_14244\1169838859.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [53]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [54]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [55]:
df['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid-range product    756450
Low-range product    243550
Name: count, dtype: int64

In [56]:
df_ords_prods_merged.loc[df_ords_prods_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [57]:
df_ords_prods_merged.loc[(df_ords_prods_merged['prices'] <= 15) & (df_ords_prods_merged['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [58]:
df_ords_prods_merged.loc[df_ords_prods_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [59]:
df_ords_prods_merged['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: count, dtype: int64

#### If-Statements with For-Loops

In [60]:
df_ords_prods_merged['orders_day_of_week'].value_counts(dropna = False)

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [61]:
result = []

for value in df_ords_prods_merged["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [62]:
df_ords_prods_merged['busiest day'] = result

In [63]:
df_ords_prods_merged['busiest day'].value_counts(dropna = False)

busiest day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

## 04. Create a new column for two busiest days and two slowest days.

In [64]:
# Creat a list for two busiest days and two slowest days
result_1 = []

for value in df_ords_prods_merged["orders_day_of_week"]:
  if value == 0 or value == 1:
    result_1.append("Busiest days")
  elif value == 4 or value == 3 :
    result_1.append("Slowest days")
  else:
    result_1.append("Regularly day")

In [65]:
# Create a column called busiest days
df_ords_prods_merged['busiest days'] = result_1

In [66]:
# Check the values of this new column for accuracy
df_ords_prods_merged['busiest days'].value_counts(dropna = False)

busiest days
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

#### Observation: The busiest days count equals the sum of day 0 (Saturday) and 1 (Sunday). The count of the lowest days equals the sum of day 3 (Tue) and day 4 (Wed). The total count is 32,404,859, meaning all the rows are looped.

## 05. Create a new column containing periods of time labeled “Most orders,” “Average orders,” and “Fewest orders” called “busiest_period_of_day"

In [67]:
# Identify which column to use
df_ords_prods_merged.head(5)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest day,busiest days
0,2539329,1,1,2,8,NaN,First Order,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy
1,2398795,1,2,3,7,15.0,Repeat Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy
2,473747,1,3,3,12,21.0,Repeat Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy
3,2254736,1,4,4,7,29.0,Repeat Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy
4,431534,1,5,4,15,28.0,Repeat Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy

#### We will use the counts of values in order_hour_of_day column to identify the busiest hours of the day

In [68]:
df_ords_prods_merged['order_hour_of_day'].value_counts(dropna = False)

order_hour_of_day
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

#### Based on counts, the above-listed values will be split into equal thirds: “Most orders” included 10, 11, 14, 15, 13, 12, 16, and 9. “Average orders” included 17, 8, 18, 19, 20, 7, 21, and 22. The remaining values will be grouped as “Fewest orders”.

In [69]:
# Creat a list for busiest hour of the day
result_2 = []

for value in df_ords_prods_merged['order_hour_of_day']:
  if value in [10, 11, 14, 15, 13, 12, 16, 9]:
    result_2.append('Most orders')
  elif value in [17, 8, 18, 19, 20, 7, 21, 22]:
    result_2.append('Average orders')
  else:
    result_2.append('Fewest orders')

In [70]:
# Create a column called busiest_period_of_day
df_ords_prods_merged['busiest_period_of_day'] = result_2

In [71]:
# Check the result
df_ords_prods_merged.head(5)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest day,busiest days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,First Order,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders
1,2398795,1,2,3,7,15.0,Repeat Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders
2,473747,1,3,3,12,21.0,Repeat Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders
3,2254736,1,4,4,7,29.0,Repeat Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Average orders
4,431534,1,5,4,15,28.0,Repeat Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Most orders

### Print the frequency for this new column.

In [72]:
# Print frequency
df_ords_prods_merged['busiest_period_of_day'].value_counts(dropna = False)

busiest_period_of_day
Most orders       21118071
Average orders     9997651
Fewest orders      1289137
Name: count, dtype: int64

#### The total count is 32,404,859, which means all the rows are looped.

## 06. Export your dataframe as a pickle file¶

In [73]:
# Export merged dataframe into pickle file
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_derived.pkl'))